@page
@model NestSongAn.Pages.Stocks.EditModel
@{
}
<div class="card mb-4" style="margin-top: 100px">
    <h5 class="card-header">Create Stock</h5>
    <div class="demo-inline-spacing">
        <button type="submit" class="btn rounded-pill btn-primary">
            &nbsp; Save
        </button>
        <button type="button" class="btn rounded-pill btn-secondary">
            &nbsp; Cancel
        </button>
    </div>
    <div class="card-body">
        <div class="mb-3 row">
            <label asp-for="Stocks.Code" for="html5-text-input" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Stocks.Code" class="form-control" type="text" id="html5-text-input" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Stocks.Name" for="html5-email-input" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Stocks.Name" class="form-control" type="text" id="html5-email-input" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Stocks.Type" for="html5-number-input" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Stocks.Type" class="form-control" type="number" id="html5-number-input" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Stocks.CreateDate" for="html5-date-input" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Stocks.CreateDate" class="form-control" type="date" id="html5-date-input" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Stocks.UpdateDate" for="html5-date-input" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Stocks.UpdateDate" class="form-control" type="date" id="html5-date-input" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Stocks.UpdateBy" for="html5-email-input" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input asp-for="Stocks.UpdateBy" class="form-control" type="text" id="html5-email-input" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Stocks.ShopId" for="html5-number-input" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <select asp-for="Stocks.ShopId" asp-items="ViewBag.Shop" class="form-control" id="html5-number-input" />
            </div>
        </div>
        <div class="demo-inline-spacing">
            <button type="submit" class="btn rounded-pill btn-primary">
                &nbsp; Save
            </button>
            <button type="button" class="btn rounded-pill btn-secondary">
                &nbsp; Cancel
            </button>
        </div>
    </div>
</div>